/***CSS COLORS
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
*****************************/
* {
  margin: 0;
  padding: 0;
}
/**************************SOCIAL MEDIA LINKS for HOMEPAGE**************************/

.social-links {
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px;
  background: #666666;
}

.social-links ul {
  list-style: none;
  display: flex;
}

.social-links li {
  margin: 0px 5px;
}

.social-links a {
  color: white;
}

.social-links a:hover {
  color: black;
}

/**************************NAVIGATION**************************/

.nav {
  background: white;
  padding: 40px;
}

.nav ul li {
  width: 130px;
  margin: 5px;
  padding: 15px;
  border: none;
  display: inline;
}

.nav li a {
  text-decoration: none;
  color: #666666;
  font-size: 17px;
}

.nav ul li a:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}

.logo {
}
/******************footer************************/
