/***CSS COLORS
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
*****************************/

/**************************NAVIGATION**************************/

/******************DROPDOWN NAVIGATION************************/

nav {
  /****THIS IS WHAT MADE LINKS GO TO RIGHT ****/
  padding: 2em;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 0 10px gray;
}

nav a {
  /****THIS ADJUSTS LINKS PADDING margin and needs to be there****/
  display: flex;
  margin: 5px;
  padding: 10px;
  color: #808080;
  font-weight: bold;

  font-size: 18px;
}
a {
  text-decoration: none; /****Removed line from links****/
}

.menu {
  /****Makes links align horizontal takes off line and bullet****/
  display: flex;
  text-decoration: none;
  list-style: none;
}

.logo {
  /***THIS ALONG WITH nav is what makes logo go to left and links go to right*****/
  flex: 1;
  width: 220px;
 
}
.logo a {
  font-size: 20px;
}

/***DROPDOWN NAVIGATION POSITIONING/HOVER*****/

nav a:hover {
  color: black;
}

.menu {
  display: flex;
}

nav li {
  position: relative;
  width: 100%;
  text-align: center;
}

nav li:hover .dropdown > li {
  display: block;
  top: 0;
  background: white;
}

.dropdown li {
  display: none;
  position: relative;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown li:hover {
  display: block;
  background: white;
  color: black;
}
