/* ColorsWebsite Colors: 
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
Font-family will be: Garmond, Raleway, Sans-serif.
OR font-family:'Ibarra Real Nova', serif;
/****************************************GLOBAL********************************************/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Playfair+Display&family=Raleway:ital,wght@0,100;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #f1f1f1;
  color: #666666;
  font-family: 'Lora', sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}


/**************************************HOME PAGE***************************/
.home_main {

  margin: 0 auto;
  padding: 0 2em;
}
#home-header {
  text-align: center;
  padding: 1em;
}
.greetings {
  padding-bottom: 1em;
}

/**************************************ABOUT PAGE****************************/
.about-main {
  margin: 0 auto;
  padding: 0 10%;
 
}

.about_header {
 text-align: center;
 color: #004c4c;
 padding: 10px;
}


.about_HSI {
float: right;
 width: 30%;
 height: auto;
 max-width: 400px;
 min-width: 200px;
 padding-top: 5%;
margin-top: 2rem;
margin-bottom: 1em;
  }

  .about_para {
    float: left;
    width: 70%;
    height: auto;
  }

.about_button {
  float: left;
}
.resume_button {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 2px outset black;
  font-weight:bold;
}




/**************************************MAIN Projects/Competencies page****************************/


/**************************************Competency #1****************************/


/**************************************Competency #2****************************/


/**************************************Competency #3****************************/

/**************************************Reflection Page****************************/
.reflection_main {
  margin: 0 auto;
  padding: 0 10%;
 
}

#header1 {
  text-align: center;
  }

  h4 {
    font-size: 130%;
  }

  .para1::first-letter  {
  font-size: 175%;
  color: #004c4c;
}

.indent {
  text-indent: 2.5%;
}

/**************************************CONTACT****************************/



/**************************************FOOTER****************************/
footer {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
  bottom: 0;
}
footer {
  width: 100%;
  height: 50px;
 bottom: 0;
 margin-top: 25%;
 clear: both;
 
}






/**************************************ABOUT Media Queries Practice****************************/

@media only screen and (min-width: 360px) {
  .about_header {
   text-align:center;
   width: 100%
  }
  
  .about_img {
    width: 100%;
    margin: auto;
    margin-bottom: 5%
  }
 video {
    width: 100%;
  }

  .about_para {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  .about_button {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20%;
  }
}

