/* ColorsWebsite Colors: 
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
Font-family will be: Garmond, Raleway, Sans-serif.
font-family: 'Raleway', sans-serif;
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,700;1,300&display=swap" rel="stylesheet">
 */

/**********************************************Global********************************************************************************/

h1 {
  color: #006666;
}

body {
  background-color: #f1f1f1;
  width: 1100px;
  margin: 30px;
}

/**************************************Resume Link/button****************************/

a:link,
a:visited {
  background-color: #006666;
  color: white;
  padding: 14px 25px;
  margin: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 4px outset #004c4c;
}

a:hover {
  background-color: #66b2b2;
  color: black;
}
