/* ColorsWebsite Colors: 
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
Font-family will be: Garmond, Raleway, Sans-serif.
OR font-family:'Ibarra Real Nova', serif;


Updated: 4/2/2023 Passed Firefox & Edge



font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;


/****************************************GLOBAL********************************************/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Raleway:ital,wght@0,400;1,400;1,500&display=swap');


/*
@font-face {
  font-family: kaushan;
  src: url("KaushanScript-Regular.otf");
} Took this out when I changed the font to playfair display and raleway documetation is in the folder, but not using this @fontface 3/30  */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #666666;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 100%;
}

 h1, h2, h3, h4 {
  /*font-family: kaushan, serif;*/
  font-family: 'Playfair Display', serif;
}




/******************Top-bar************************/

.top-bar {
  width: 100%;
  height: auto;
  background-image: url('background_texture1.png');
  background-color: black;
  background-repeat: repeat;
  color: white;
  text-align: center;
  padding: 2rem 3rem;
  font-size: 13px;
  top: 0;
  
}


.top-bar p  {
  display: none;
}

/**************************************HOME PAGE***************************/


.home_main {
  margin: 2% auto 20%;
  padding: 0 2%;
}

.home_main p {
  line-height: 2rem;
}

.home_h2 {
  font-size: 250%;
  margin-bottom: 5%;
}

.home_h2 {  
  animation: moveright 2s ease-in-out 4s 3 alternate;
}

@keyframes moveright {
  from {
    margin-left: 5%;
    color: blue;
  }
  to {
    margin-left: 30%;
    color: red;
  }
}


/**************************************ABOUT PAGE****************************/


.about_header {
  text-align: center;
  font-size: 200%;
  margin: 3% auto;
}


.about-main {
  width: 80%;
  margin: 1rem auto;
  text-align: left;
}
.about_h2 { /*******Added this in 3/26 *******/
text-align: center;
font-size: 200%;
}

.about_img {
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin: 2rem auto;
  margin-left: 5%;
  margin-right: 5%;
}



.about_para {
  margin: 1rem auto;
  line-height: 2rem;
}

.about_video video {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.edu_details {
  margin: 2rem auto;
  line-height: 1.25rem;
}

.edu_details h2 {
  margin: 1rem auto;
}

/******************ABOUT TABLE*********************/
.about_table-h2 {
 text-align: center;
}


table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}


thead th {
  background-color: #004c4c;
  color: white;
  font-size: 100%;
  font-weight: bold;
  box-shadow: inset 0 -2px;
  padding: 5px;
 
}

tbody {
  color: black;
  font-size: 100%;
  padding: 5px;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

tfoot td {
  font-weight: bold;
  text-align: right;
  font-size: 100%;
  background-color: #004c4c;
  color: white;
  box-shadow: inset 0 2px;
}

table > tr:hover,
tbody tr:hover {
  background: black;
  color: white;
}

figcaption,
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
} 



/*************************************GLobal Projects PAGE****************************/

.project-main{
  margin: 0;
  padding: 0;
}
.project-header {
  text-align: center;
font-size: 110%;
  margin: 3% auto 8%;
}


.project-main { /*******Added this in 3/26  STILL NEEDS WORK*******/
  width: 90%;
  margin: 0 auto;
  text-align: left;
}


.text {
  margin-bottom: 10%;
  text-align: center;
}

.goal1 {
  margin-top: 10%;
}

.goal {
  margin: 3% auto;
}

.goal h2 {
  font-size: 1.5rem;
  /*margin: 1rem auto;*/
  margin-left: 5%;
}
.goal h4{
  font-size: 105%;
}


.subheading {
  font-size: 100%;
}


.line-2 {
  margin: 0 5%;
  margin-bottom: 10%;
  margin-top: 15%;
}


.goal p {
  margin-right: 5%;
  margin-left: 5%;
  line-height: 2rem;
  padding-bottom: 3px;
}

.last {
  margin-bottom: 3%;
}

/*******3/27 Goal Button Start*************/
.button {   
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: #004c4c;
  font-size: 1rem;
  padding: 5px 25px;
  text-align: center;
  font-size: 100%;
  width: 150px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 30%;
}

#myBtn {
  font-size: 100%;
  padding: 3%;
}



/*******3/27 Goal Button End*************/

h4{
  text-align: left;
  margin-right: 5%;
  margin-left: 5%;

}





/**************************************Reflection Page****************************/
.reflection_main {
  margin: 3% auto 20%;
  padding: 0 10%;
  line-height: 2rem;
}



#header1 {
  text-align: center;

}

/*
.para1::first-letter{
  font-size: 175%;
  color: #004c4c;
}                Commented out on 4/1/23 */


.PRh4{
  margin-left: 0;
}


.reflection_main h4{
  margin-top: 1%;

}



/**************************************CONTACT****************************/




/*********FORM**** */
.contact_container {
  border-radius: 5px;
  background-color:  #666666;
  color: white;
  font-family:'Ibarra Real Nova', serif;
  padding: 20px;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  max-width: 800px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  font-family:'Ibarra Real Nova', serif;
  font-size: 17px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



input[type=submit]:hover {
  background-color: white;
  color: black;
}
/*********Non form*******/
.contact-h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

/*********************SOCIAL MEDIA LINKS/FOOTER CSS**************************/
.social-links {

  justify-content: flex-end;

  margin: 5%;
  text-align: center;
}
.social-links a {
  color: black;
  font-size: 350%;
}
.social-links a:hover {
  color: teal;
  font-size: 400%;
  transition:width 0.3s linear 0s;
}







/**************************************FOOTER****************************/
/*footer {
  background-color: black;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  clear: both;
}   This was coded out 3/23/23 for wk 6 Footer Media -Icons & Images assignment It was replaced with the code directly below. 
*/

footer {
  width: 100%;
  height: auto;
  background-image: url('img/blackbackground.png');
  background-color: black;
  background-repeat: repeat;
  color: white;
  text-align: center;
  padding: 2rem 3rem;
  top: 0;

}


/*footer p {
  padding: 10%;
} Coded out 3/23/23 and remains irrelevant, can delete whenever you're sure you will not be resuming previously used footer*/

.footer-icon {
  width: 30px;
  height: auto;
  padding-right: 5px;
  vertical-align: middle; 
  margin-right: 10px;
}  

.footer-icon:hover {
  width: 50px;
  transition:width 0.3s linear 0s; 
}



/**************************************Media Queries****************************/

/************************** Tablets *******************/


@media only screen and (min-width: 450px) {

  .home_main{
    margin-left: 10%;
    margin-right: 10%;
  }

  .about_img {
    width: 75%;
    height: auto;
  }

 /* footer p {
    padding: 5%;
  }*/

  .goal h2 {
    font-size: 2rem;
  }

  .goal h4{
    font-size: 110%;
  }
  

  .goal p {
    margin-right: 0%;
  }

  table {    /*Added in 4/11/23*/
    margin: 0 auto;
  }
  

  .about_table-h2 {
   text-align: center;
  margin-right: 20%;
  }



 /***3/26 for image start**/
  .image {
    width: 500px;
    margin-top: 5%;
  }
  .container {
    position: relative;
    width: 70%;
    margin-left: 15%;
  }
  
  
  .text{
    margin-bottom: 5%;
  }
  /***3/26 for image End***/



  .edu_details {
    text-align: left;
    list-style-position: inside;
    margin: 2rem auto;
    line-height: 2rem;
  }

  .edu_details h2 {
    margin: 2rem auto;
  }

  /* *** */
  .top-bar p {
    display: none;
  }

  #header1 h1 {
    font-size: 175%;
  }

  h4 {
    font-size: 110%;
  }

  .projectPic {  /*Put this in 3/26*/
    width: 75%;
    height: auto;
  }
  .subheading {
    font-size: 120%;
  }
  .line-2 {
    margin-left: 10%;
  }
/***3/27 Contact form ****/
  .contact_container {
    margin-left: 10%;
    margin-right: 10%;
  }
  
}

/************************************** Desktop ********************************/
@media only screen and (min-width: 800px ) {

  .top-bar {
    width: 100%;
    height: auto;
    background-image: url('background_texture1.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    padding: 2rem 3rem;
    font-size: 15px;
    line-height: 1.5rem;
    top: 0;
  }
  
.home_main {
  margin: 2% auto 20%;
  margin-left: 20%;
  margin-right: 20%;
}
.home_h2 {  
  animation: moveright 2s ease-in-out 4s 3 alternate;
}

@keyframes moveright {
  from {
    margin-left: 5%;
    color: blue;
  }
  to {
    margin-left: 60%;
    color: red;
  }
}


  .about_img {    
    float: right;
    width: 40%;
    height: auto;
    margin-left: 5%;
  }
  .about_h2{
    text-align: left;
    font-size: 250%;
  }

  .about_para h2 {
    padding-top: 10%;
  }

  .about_para p, .about_para blockquote {
    text-align: left;
  }

  .about_para p {
    line-height: 2rem;
    padding-bottom: 5%;
  }

  .about_para .quote-name {
    text-align: left;
  }

  .about_video video {
    width: 60%;
    height: auto;
    margin-top: 10%;
    margin-left: 20%;
  }

  .about_video {
    clear: both;
  }
  
  table {    /*Added in 4/11/23*/
    margin: 0 auto;
    max-width: 1000px;
  }

  .about_table-h2 {
    margin-left: 18%;
  }

  

 /* footer p {
    padding: 2%;
  }*/
/*************Start of Projects Page****************/
.project-main {  /*Put this in 3/26*/
  width: 100%;
}
.project-header {
font-size: 175%;
}



.image {
  width: 400px;
}


.goal h2 {
    font-size: 2.5rem;
    margin-left: 10%;
  }
  .subheading {
    font-size: 130%;
  }

  .goal p {
    margin-right: 10%; /*Put this in 3/26 fixed the text problem was set at 50%*/
  margin-left: 10%;
  }

  .goal h4{
    font-size: 115%;
    margin-left: 10%;
  }

  /******Button 800px screen size*******/

  .button {
    margin-left: 20%;
  }


  .edu_details {
    clear: both;
    list-style-position: inside;
    margin: 2rem auto;
    line-height: 1.5rem;
  }

  .edu_details h2 {
    margin: 2rem auto;
  }

  .line-2 {
    margin: 0 5%;
  }


  /******Back to Top of Page Button 800px screen size 3/28 Start*******/
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: #004c4c; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* *Back to TOp of Page Button End** */

  .PRh4{
    margin-left: 0;
  }
 

  h4 {
    font-size: 110%;
  }

  #home-header {
    font-size: 160%;
    }

  .greetings {
    font-size: 175%;
  }
  
  .top-bar p, h3 {
    display: block;
  }
   
  .container {
    position: relative;
    width: 75%;
    margin-left: 15%;
  }

  /******3/27 Contact Form 800px**********/
  .contact_container {
    margin-left: 20%;
    margin-right: 20%;
  }
  
}

@media only screen and (min-width: 1000px) {
/**********HOMEPAGE***********/

  .top-bar {
    width: 100%;
    height: auto;
    background-image: url('background_texture1.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    padding: 2rem 3rem;
    font-size: 17px;
    line-height: 1.5rem;
    top: 0;
  }

  .top-bar h2{
    margin-bottom:2px;
  }

  .button {
    margin-left: 10%;
  }

  #header1 {
    font-size: 130%;
  }

  .PRh4{
    margin-left: 0%;
    
  }
  .about_img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}



@media only screen and (min-width: 1200px ) {
  .home_main {
    margin: 2% auto 20%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .home_h2 {  
    animation: moveright 2s ease-in-out 4s 3 alternate;
  }
  
  @keyframes moveright {
    from {
      margin-left: 5%;
      color: blue;
    }
    to {
      margin-left: 70%;
      color: red;
    }
  }
  


.current-page {
  color: teal;
  font-weight: bold;
}

  .goal p {
    margin-right: 20%; /*Put this in 3/26 Fixed the problem for larger screens for projects page*/
  margin-left: 20%;
  }
  .goal h2 {
    margin-left: 20%;
  }

  .goal h4{
    font-size: 115%;
    margin-left: 20%;
  }
 
  h4 {
    margin-right: 20%;
    margin-left: 20%;
  }

  
  /*******3/26 image overlay for video**************/
.container {
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* ****3/27*************** 1200px screen Button Animation Start***** */
.button {
  display: inline-block;
 border-radius: 4px;
 background-color: #A9A9A9;
 border: none;
 color: black;
 text-align: center;
 font-size: 100%;
 padding: 10px;
 width: 170px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5%;
 margin-left: 20%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ****3/27**** Button Animation End***** */

/* ****3/28**** Reflection Page***** */

.reflection_main{
  margin-left: 13%;
  margin-right: 13%;
}

.reflection_main h1{
  margin-bottom: 7%;
}

.PRh4{
  margin-left: 0;
}


 
/******3/27 Contact Form 1200px**********/
.contact_container {
  margin-left: 25%;
  margin-right: 25%;
}

}

/******4/2/23 Contact Form 1400px**********/

@media only screen and (min-width: 1400px ) {
.contact_container {
  margin-left: 30%;
  margin-right: 30%;
}
}


/********************************** Print Media Query **************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .about_header {
    font-family: kaushan, serif;
  }

  .about_para h2,
  .edu_details h2 {
    font-family: serif;
  }

  .top-bar,
  .menu,
  .about_img,
  .about_video,
  .about_button {
    display: none;
  }

  .about_header,
  .about_main {
    margin: 1cm 2.54cm;
    text-align: center;
  }

}